.modal {
    position: fixed;
    background-color: #f1f1f1;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.center button {
    width: 60%;;
}